# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------|
| JupyterLab  |
| Spyder  |
| VS Code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ken Tse